html
    head
        title  ImageWall |
            != title
        script(src="/js/jquery.js")
        link(rel='stylesheet', href='/css/styles.css')
    body
        h1!= message

        form(action="/upload", method="post", enctype="multipart/form-data")
            input(type="file", name="image")
            input(type="submit", value="submit",id="submit")
        if(image)
            img(src=image)

            button(data-eventType='filter' data-value="Monochrome") Monochrome
            button(data-eventType='filter' data-value="Charcoal") Charcoal
            button(data-eventType='filter' data-value="LowColor") Lowcolor
            button(data-eventType='filter' data-value="Negative") Negative
            button(data-eventType='filter' data-value="Sepia") Sepia
            button(data-eventType='filter' data-value="Colorized") Colorized
            button(data-eventType='filter' data-value="default") Default
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io();
        $('button').on('click',function(){
            var self = $(this);
            $.ajax({
                url: '/filterImage',
                type: 'POST',
                data: {
                    eventType:self.attr('data-eventType'),
                    value:self.attr('data-value')
                },
                success: function (result) {
                    $('img').attr('src',result+'?i='+Date.now());
                }
            });
        });
