html
    head
        link(rel='stylesheet', href='/css/styles.css')
        script(src="/js/jquery.js")
        title ImageWall |
            !=  title
    body
        h1!= message
        a(href='add') add an image
        div.imageWall
            - each image in images
                img(data-client="#{image.owner}" , src='data:image/jpeg;base64,' + image.data )

    script(src="/socket.io/socket.io.js")
    script.
        var socket = io();
        socket.on("imageAdded", function (data, buffer) {
            console.log(data);
            if (data.image) {
                console.log(" image: from client side");
                console.log($('.imageWall img[data-client="' + data.client + '"]'));
                if ($('.imageWall img[data-client="' + data.client + '"]').length ==0)  {
                    $('.imageWall').append('<img data-client="'+data.client+'" src="data:image/jpeg;base64,' + data.image + '">')
                } else {
                    console.log('in');
                    $('.imageWall img[data-client="' + data.client + '"]').attr('src', "data:image/jpeg;base64," + data.image)

                }
            }
        });
