html
    head
        link(rel='stylesheet', href='/css/index.css')
        script(src="/js/jquery.js")

        title ImageWall |
            !=  title
    body
        div#wrapper
            header
                h1 Imagewall
            div#choice
                a(id="wall" href='imagewall') Voir le mur
                a(href='add') Participer

    script.
//        $(function(){
//            $('#wall').on('click',function(){
//                launchIntoFullscreen(document.documentElement); // the whole page
//            })
//        });
//        function launchIntoFullscreen(element) {
//            if (element.requestFullscreen) {
//                element.requestFullscreen();
//            } else if (element.mozRequestFullScreen) {
//                element.mozRequestFullScreen();
//            } else if (element.webkitRequestFullscreen) {
//                element.webkitRequestFullscreen();
//            } else if (element.msRequestFullscreen) {
//                element.msRequestFullscreen();
//            }
//        }
//        // Launch fullscreen for browsers that support it!
