html
    head
        title ImageWall |
            !=  title
    body
        h1!= message
        a(href='add') add an image

    script(src="/socket.io/socket.io.js")
    script.
        var socket = io();